body{
	background: #edf0f2
}

.profile_image {
	border: 1px solid #141518;
	border-radius: 50%;
}

#title, .subtitle, .post_title {
	color: blue;
}

.post_title {
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-botton: 15px;
}

.post {
	background: #ffffff;
	padding: 15px;
	border: 3px solid #141518;
	margin-botton: 15px;
	border-radius: 5px;
}

.post_content {
	margin: 0;
	margin-botton: 15px;
}

.post_image {
	margin-botton: 15px;
}